# Compiled class file
*.class

# Log file
*.log
HELP.md

#Allowed
/target/**
#!/target/sgqc-0.0.1-SNAPSHOT.jar
!.mvn/wrapper/maven-wrapper.jar
!.mvn/wrapper/maven-wrapper.properties
#**/target
#!**/target/**/**
#/target/maven-status
#/target/maven-archiver
#/target/classes
#/target/generated-sources
#/target/generated-test-sources
#/target/test-classes
#target/sgqc-0.0.1-SNAPSHOT.jar.original

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/